{% extends 'base.html.twig' %}

{% block title %}NEWS{% endblock %}

{% block header %}
	<section id="home" name="home"></section>
	<!--div id="headerwrap"-->
		<div class="container">
			<div class="logo">
				<img src="assets/img/logo.png">
			</div>
			
				<h1>META Rules</h1>

		</div><!-- /container -->
	<!--/div--><!-- /headerwrap -->
{% endblock %}
	
{% block content %}
	<!-- ========== NEWS SECTION ========== -->
	<!--section id="about" name="about"></section-->
	<div id="f1">
		<div class="container">
			<div class="row">
				<h3>Настоящие правила устанавливают порядок работы в сети</h3>
				<p>Утвержены верховныем координационным комитетом 1 aug.2150 года</p>
				
				<div class="col-lg-6 col-lg-offset-3">
					<pre style="text-align: justify; word-wrap: break-word; word-break: keep-all;">
Любые их нарушения влекут за собой уголовую ответственность.

Запрещается:
1.Использовать в сети средства отладки и разработки дополнительного программного обеспечения без соответствующих лицензий.
2.Какими либо способами подделывать цифорвые идентификаторы.
3.Получать, распространять или использовать каким-либо другим образом документы не соответствующие вашему уровню доступа.
4.Получать, распространять или использовать каким-либо другим образом любые файлы с запрещенным содержимым(произведения старой культуры и документы утвержденные ст.280 УК ОФ)
5.Использовать любые сетевые инструменты с целью извлечения выгоды без соответствующей лицензии.
6.Перехватывать и обрабатывать служебные сообщения MetaWeb.
7.Незаконное копирование и распространение любых материалов без соответствующей лицензии.
8.Так же Деятельность каким либо другим образом противоречащая УК ОФ.
					</pre>
				</div>
				<p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
			</div>
		</div><!-- /container -->
	</div><!-- /f -->
	

	<!-- ========== AD SECTION ========== -->
	<section id="contact" name="contact"></section>
	<div id="f">
		<div class="container">
			<div class="row">
				<h3>Новые импланты, позволяющие полное дополнение реальности</h3>
				<p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
				<p class="centered">
					<img style="max-width:100%;" src="./img/implants.jpg">
					</p>
					
				<div class="col-lg-6 col-lg-offset-3">
<p>Благодаря совместной работе компании MetaLab и Sarif Industries вы сможете почувствовать вкус виртуальой еды и запах цветов в виртуальном пространстве.
Вы можете получить его прямо сейчас всего за 1500 кредитов.</p>
					<p><button type="button" class="btn btn-warning">Закажите их прямо сейчас!</button></p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
